<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container py-3">
    <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Irina Tur</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Index</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">About Us</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'create' %}">Create Task</a>
      </nav>
    </div>
    </header>

        <div class="container">
            <h1>{% block content %}{% endblock %}</h1>
        </div>
</body>
</html>